<table class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>icon</th>
        <th><i class="fa-regular fa-user"></i>name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr class="text-center">
          <td><%= image_tag customer.get_profile_image, class: "rounded-circle", size: '50x50' %></td>
          <td><%= customer.name %></td>
          <td class="relationship_<%= customer.id %>">
            <%= render "public/relationships/btn", customer: customer %>
          </td>
          <td><%= link_to '詳細', mypage_path(customer), class: "btn btn-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<div class="d-flex justify-content-center">
  <%= paginate customers %>
</div>