<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th><i class="fa-regular fa-user"></i>name</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>フォロー数</th>
    <th class="followings">
      <%= render "public/relationships/followings_count", customer: customer %>
    </th>
  </tr>
  <tr>
    <th>フォロワー数</th>
    <th class="followers">
      <%= render "public/relationships/followers_count", customer: customer %>
    </th>
  </tr>
</table>

<div class='row'>
  <table class="table table-borderless">
    <tr>
      <td>
        <% if current_customer != customer %>
          <div class="relationship_<%= customer.id %>">
            <%= render "public/relationships/btn", customer: customer %>
          </div>
        <% else %>
          <%= link_to edit_information_path(customer), class: "btn btn-outline-info btn-block" do %>
            <i class="fa-solid fa-user-pen"></i>
          <% end %>
        <% end %>
      </td>
      <td class="chats">
        <%= render "public/chats/btn", customer: customer %>
      </td>
    </tr>
  </table>

  <% unless customer.guest_customer? %>
    <div class="row">
      <%= link_to "",edit_information_path(customer) %>
    </div>
  <% end %>
</div>