<div class='container'>
  <div class = "row">
    <div class = 'col-10 py-5'>
      <h2>新規投稿</h2>
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <%= render 'public/shared/error_messages', resource: @post %>
          <table class="table table-borderless">
            <tr>
              <td><%= f.label :image, "画像" %></td>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>

            <tr>
              <td><%= f.label :title, "ファッション名" %></td>
              <td><%= f.text_field :title, rows:'5',placeholder: "ファッション名をここに", class: "w-50" %></td>
            </tr>

            <tr>
              <td><%= f.label :body, "コーディネート内容" %></td>
              <td><%= f.text_area :body, rows:'5',placeholder: "コーディネート内容をここに", class: "w-75" %></td>
            </tr>
          </table>
          <%= f.submit "投稿", class: "btn btn-success px-5" %>
      <% end %>
    </div>
  </div>
</div>
