<div class='container'>
  <div class = "row d-flex justify-content-center">
    <div class = 'py-5'>
      <h3 class = "text-center mb-4">新規投稿</h3>
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <%= render 'public/shared/error_messages', resource: @post %>
          <table class="table table-borderless d-flex justify-content-center">
            <tr>
              <td><%= f.label :image, "写真" %></td>
            </tr>
            <tr>
              <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>

            <tr>
              <td><%= f.label :title, "ファッション名" %></td>
            </tr>
            <tr>
              <td><%= f.text_field :title, rows:'5',placeholder: "ファッション名をここに", class: "w-75" %></td>
            </tr>

            <tr>
              <td><%= f.label :body, "コーディネート内容" %></td>
            </tr>
            <tr>
              <td><%= f.text_area :body, rows:'5',placeholder: "コーディネート内容をここに", class: "w-100" %></td>
            </tr>
          </table>
          <%= f.submit "投  稿", class: "btn btn-success px-5" %>
      <% end %>
    </div>
  </div>
</div>
