<% if @model == 'customer' %>
  <div class="container px-5">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <h3 class="my-5">検索結果 "<%= @content %>"</h3>
        <div class="d-flex justify-content-end mb-2">
          <%= link_to 'マイページへ', mypage_path(current_customer.id), class: "btn btn-secondary" %>
        </div>
        <%= render 'public/customers/index', customers: @records %>
      </div>
    </div>
  </div>
<% elsif @model == 'post' %>
  <div class="container px-5">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <h3 class="my-5">検索結果 "<%= @content %>"</h3>
        <div class="d-flex justify-content-end mb-2">
          <%= link_to 'マイページへ', mypage_path(current_customer.id), class: "btn btn-secondary" %>
        </div>
        <%= render 'public/posts/index', posts: @records %>
      </div>
    </div>
  </div>
<% end %>