<table class="table">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>会員ID</th>
        <th>アイコン</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
  <% customers.each do |customer| %>
    <% next if customer.guest_customer? %>
      <tbody>
        <tr class="text-center">
          <td><%= customer.id %></td>
          <td><%= image_tag customer.get_profile_image, class: "rounded-circle", size: '50x50' %></td>
          <td><%= link_to customer.name, admin_customer_path(customer), class: 'text-dark' %></td>
          <td><%= customer.email %></td>
          <td><%= customer.customer_status %></td>
        </tr>
      </tbody>
  <% end %>
</table>
<div class="d-flex justify-content-center">
  <%= paginate customers %>
</div>