<table class="table">
  <tr>
    <td>会員ID</td>
    <td><%= customer.id %></td>
  </tr>

  <tr>
    <td>アイコン</th>
    <td><%= image_tag customer.get_profile_image, class: "rounded-circle", size:'100x100' %></td>
  </tr>

  <tr>
    <td>氏名</td>
    <td><%= customer.name %></td>
  </tr>

  <tr>
    <td>メールアドレス</th>
    <td><%= customer.email %></td>
  </tr>

  <tr>
    <td>会員ステータス</th>
    <td><%= customer.customer_status %></td>
  </tr>
</table>
<div class="d-flex justify-content-center">
  <%= link_to "会 員 編 集", edit_admin_customer_path(customer), class:"btn btn-success px-5" %>
</div>