<div class='container'>
  <div class='row d-flex justify-content-center'>
    <div class='col-8'>
      <h3 class="text-center my-4">お気に入り投稿一覧</h3>
      <table class='table'>
        <thead class="thead-dark">
          <tr class="text-center">
            <th></th>
            <th>画像</th>
            <th>ファッション名</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @favorite_posts.each do |post| %>
            <tr class="text-center">
              <td><%= link_to mypage_path(post.customer_id) do %>
                <%= image_tag post.customer.get_profile_image, class: "rounded-circle", size:'50x50' %>
                <% end %>
              </td>
              <td><%= image_tag post.image, size: "100x100" %></td>
              <td><%= link_to post.title, post_path(post.id), class: 'text-dark' %></td>
              <td class="favorite-btn_<%= post.id %>">
                  <%= render "public/favorites/favorite_btn", post: post %>
              </td>
              <td class="post-comments-counter">
                  <%= render "public/post_comments/counter", post: post %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @favorite_posts %>
      </div>
    </div>
  </div>
</div>
